.container-auth {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.header-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #3c009d;
  font-size: 48px;
  font-weight: 700;
}
.underline {
  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}
.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img {
  margin: 0 30px;
}
.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}
.forgot-password {
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}
.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}
.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  color: #fff;
  background-color: #4c00b4;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
}
@media (min-width: 312px) {
  .container-auth {
    width: 330px;
  }
  .text {
    font-size: 30px;
  }
  .input {
    width: 250px;
    height: 60px;
  }
  .submit-container{
    margin: 30px auto;
  }
  .forgot-password{
    font-size: 15px;
  }

}
@media(min-width:768px){
  .container-auth {
    width: 500px;
  }
  .text {
    font-size: 40px;
  }
  .input {
    width: 400px;
    height: 70px;
  }
  .submit-container{
    margin: 50px auto;
  }
}
