.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  color: #ddd;
  border-bottom: 2px solid #3c3c3c;
}
.navbar.logo {
  max-width: 200px;
}
.navbar.logo img {
  width: 100%;
}
.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.navbar li {
  cursor: pointer;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: max(1vw, 12px);
}
.navbar select {
  padding: 5px 8px;
  border-radius: 6px;
  border: 2px solid white;
  background: transparent;
  color: white;
}
.navbar option {
  background-color: #09005c;
  color: white;
}
.navbar .btn-register {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #393939;
  background: white;
  cursor: pointer;
}

.navbar .btn-register img {
  width: 10px;
}

@media all and (min-width: 312px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar ul:last-child {
    display: none;
  }
  
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 5%;
  }
  .navbar ul:nth-child(2) {
    display: none;
  }
  .navbar ul:last-child {
    
    display: flex;
  }

  .navbar button img {
    width: 12px;
  }
}
@media (min-width: 1024px) {
  .navbar {
    padding: 20px 8%;
  }
  .navbar ul:last-child {
    display: none;
  }
  .navbar ul:nth-child(2) {
    display: flex;
  }

  .navbar .register {
    gap: 8px;
    padding: 10px 18px;
    font-size: 14px;
  }
}
